<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Welcome Flask!</title>
    <script type="text/javascript">
        function httpGetAsync(theUrl, callback) {
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    callback(xhr.responseText);
                }
            };
            xhr.open('GET', theUrl, true); // true for asynchronous
            xhr.send(null);
        }

        httpGetAsync('http://127.0.0.1:5000/store', function(response) {
            alert(response);
        });
    </script>
</head>
<body>
    <div id="myElement">Hello, world!</div>
</body>
</html>
